/**/env

# For discarding python env packages
venv

# For discarding PyCharm files
.idea

# Ignore Python cache directories and compiled files
__pycache__/
*.pyc

# Ignore macOS .DS_Store files in all directories
**/.DS_Store

# Ignore node_modules directories
frontend/node_modules/
